.App {
  background-color: #fffacd;
}

.App-header {
  text-align: center;
  font-style: oblique;
}

.App-subheader {
  text-align: center;
  font-style: oblique;
}

.App-subheader2 {
  text-align: center;
}

.App-subheader3 {
  text-align: center;
  text-decoration: underline;
  font-weight: bold;
  font-style: oblique;
  margin-bottom: 10px;
  padding-bottom: 13px;
}

.pastor {
  height: 400px;
  width: 380px;
  border-style: solid;
  border-color: #000000;
  border-radius: 5px;
  margin: 0 auto;
  display: flex;
  position: relative;
}

.flyer-description {
  border-style: solid;
  border-color: #000000;
  border-radius: 5px;
  margin: 0 auto;
  width: 220px;
}

.flyer-description1 {
  border-style: solid;
  border-color: #000000;
  border-radius: 5px;
  margin: 0 auto;
  width: 220px;
}

.flyer-description2 {
  border-style: solid;
  border-color: #000000;
  border-radius: 5px;
  margin: 0 auto;
  width: 220px;
}

.friday {
  text-align: center;
  font-weight: bold;
  font-style: oblique;
}

.saturday {
  font-weight: bold;
  font-style: oblique;
  text-align: center;
}

.sunday {
  text-align: center;
  font-weight: bold;
  font-style: oblique;
}

.date-text {
  text-align: center;
  font-weight: bold;
  font-style: oblique;
}

.date-text1 {
  text-align: center;
  font-weight: bold;
  font-style: oblique;
}

.date-text2 {
  text-align: center;
  font-weight: bold;
  font-style: oblique;
}

.time-text {
  text-align: center;
  font-weight: bold;
  font-style: oblique;
}

.time-text1 {
  text-align: center;
  font-weight: bold;
  font-style: oblique;
}

.time-text2 {
  text-align: center;
  font-weight: bold;
  font-style: oblique;
}

.date-flexbox {
  display: flex;
  margin: 0 auto;
  padding: 24px;
}